.rooms {
    text-align: center;
    margin: 50px auto;
}

.room {
    width: 150px;
    height: 150px;
}

.message {
    margin: 30px auto;
    text-align: center;
    font-size: x-large;
    color: #4A80C5;
}

.create-room-input {
    width: 240px;
    border-radius: 5px;
}

.wrong {
    color: red;
}

div.field div.control-panel button.btn.btn-primary.btn-lg {
    background-image: linear-gradient(to bottom,#348460 0,#85AF0B 100%);
}

div.field div.control-panel button.btn.btn-primary.btn-lg:hover {
    background-color: #7DA727;
}

div.field div.control-panel button.btn.btn-primary.btn-lg:focus {
    background-color: #7DA727;
}

.hide {
    display: none;
}

.table {
    background-color: #0F4E0F;
}

#waiter {
    font-size: 35px;
}

div.control-panel {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

div.container {
    text-align: center;
}


.loading {
    color: #CCBC46;
    font-size: xx-large;
    font-family: cursive;
    margin: 85px;
}

